@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.button__gmail {
    @apply border-gmail outline-gmail focus:hover:ring-2 focus:hover:ring-gmail;
}

.transition {
    @apply transition-all duration-100;
}

.page-template-layout {
    display: grid;
    grid-template-columns: 233px 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

.page-template-layout__sidebar {
    grid-area: sidebar;
}

.page-template-layout__header {
    grid-area: header;
}

.page-template-layout__content {
    grid-area: content;
    padding-bottom: 50px;
}

.simple-link {
    @apply text-primary cursor-pointer hover:underline;
}

.dashboard-filter-button {
    @apply border border-mGray-7 shadow-sm flex justify-center items-center bg-white cursor-pointer;

    border-radius: 4px;
    padding: 12px 13px;
}

.rdw-dropdown-wrapper {
    border: none !important;
    font-size: 12px !important;
    line-height: 18px !important;
}

.rdw-dropdown-wrapper:hover {
    box-shadow: none !important;
}

.rdw-fontsize-wrapper {
    border-right: 1px solid #c8c8c8;
    padding-right: 21px;
    margin-right: 30px;
}

.rdw-option-wrapper {
    border: none !important;
}

.rdw-option-wrapper:hover {
    box-shadow: none !important;
}

/* ================== Spinner ========================== */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 5px solid #54499e;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #54499e transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
