@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.button__gmail {
    @apply border-gmail outline-gmail focus:hover:ring-2 focus:hover:ring-gmail;
}

.transition {
    @apply transition-all duration-100;
}

.page-template-layout {
    display: grid;
    grid-template-columns: 233px 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

.page-template-layout__sidebar {
    grid-area: sidebar;
}

.page-template-layout__header {
    grid-area: header;
}

.page-template-layout__content {
    grid-area: content;
    padding-bottom: 50px;
}

.simple-link {
    @apply text-primary cursor-pointer hover:underline;
}

.dashboard-filter-button {
    @apply border border-mGray-7 shadow-sm flex justify-center items-center bg-white cursor-pointer;

    border-radius: 4px;
    padding: 12px 13px;
}
